---
import type { SiteConfig, SocialConfig } from "@schema/current";

interface Props {
  site: SiteConfig;
  social: SocialConfig["links"];
}

const year = new Date().getFullYear();
---

<footer class="site-footer">
  <p>
    &copy; {year}
    {Astro.props.site.title} / Built from Markdown with Markloom
  </p>
  <div class="social-links">
    {Astro.props.social.map((link) => <a href={link.href}>{link.label}</a>)}
  </div>
</footer>
